.alert {
  padding: 15px 20px;
  color: $dark;
  background: $light;
  border-radius: $radius;
  margin: 4px;
  transition: 0.2s;
  @include squishy(1, 0.99);
  &-primary {
    @include alertStyles($primary);
  }

  &-secondary {
    @include alertStyles($secondary);
  }

  &-warning {
    @include alertStyles($warning);
  }

  &-error {
    @include alertStyles($error);
  }
}
