.breadcrumb {
  display: flex;
  flex-wrap: wrap;

  & > &-item {
    margin-right: 5px;

    &::after {
      content: "/";
      margin-left: 3px;
      text-decoration: none;
      color: #808080;
    }

    &:last-child::after {
      content: "";
      margin-left: 0;
    }
  }
}
