.dropdown {
  position: relative;
  display: inline;

  & > *:first-child {
    cursor: pointer;
    transition: 0.3s;
    @include squishy;
  }

  #{&}-list {
    position: absolute;
    top: 100%;
    left: 0;
    transform: scale(0);
    cursor: pointer;
    border-radius: $radius;
    overflow: hidden;
    transition: 0.3s;
    transform-origin: 20% 0;
    z-index: 10;
    white-space: nowrap;
    width: max-content;

    @include hidden;

    & > * {
      padding: 5px 10px;
      transition: 0.2s;
      border-bottom: thin solid $light;
      @include squishy;

      &:hover {
        background: $light-blue;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  #{&}-left {
    left: auto;
    right: 0;
    transform-origin: 80% 0;
  }

  &:focus-within {
    .dropdown-list {
      transform: scale(1);
      background: lighten($light, 3%);

      padding: 10px 0;

      @include show;
    }
  }
}
