// Text
input[type="text"] {
  outline: none;
  font-size: 15px;
  padding: 6px;
  transition: 0.3s;
}

.input {
  &-underline {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #d3d3d3;
    &:focus {
      border-bottom: 2px solid $primary;
    }
  }
  &-outline {
    border: 2px solid #d3d3d3;
    border-radius: $radius;
    &:focus {
      border: 2px solid $primary;
    }
  }
}

// Checkbox

.input-checkbox[type="checkbox"] {
  display: none;

  & + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 18px;
      height: 18px;
      border: 1px solid #d3d3d3;
      background: #fff;
      border-radius: $radius;
      transform: translateY(-50%);
      transition: 0.3;
    }

    &::after {
      content: "✕";
      position: absolute;
      top: 50%;
      left: 10px;
      transform: scale(0) translate(-50%, -50%) rotate(45deg);
      color: $primary;
      line-height: 0;
      transition: 0.3s;
    }
  }

  &:checked {
    & + label {
      &::after {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(0);
      }
      &::before {
        border: 1px solid lighten($primary, 20%);
      }
    }
  }
}

// Radio

.input-radio[type="radio"] {
  display: none;

  & + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 18px;
      height: 18px;
      border: 1px solid #d3d3d3;
      background: #fff;
      border-radius: 99999px;
      transform: translateY(-50%);
      transition: 0.3;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 10px;
      width: 10px;
      height: 10px;
      background: $primary;
      border-radius: 99999px;
      transform-origin: top left;
      transform: scale(0) translate(-50%, -50%);
      transition: 0.3s;
    }
  }

  &:checked {
    & + label {
      &::after {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
      }
      &::before {
        border: 1px solid lighten($primary, 20%);
      }
    }
  }
}
