// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &[tabindex="0"] {
    outline: none;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: $primary;
  transition: color 0.3s;
  &:hover {
    color: darken($primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
