.tooltips {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    color: $light;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  &::before {
    content: attr(data-tooltips);
    background: $dark;
    top: -40px;
    white-space: nowrap;
    width: max-content;
    border-radius: $radius;
    padding: 2px 6px;
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid $dark;
    top: -13px;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
    visibility: visible;
  }

  &-bottom {
    &::before {
      top: auto;
      bottom: -40px;
    }
    &::after {
      top: auto;
      bottom: -13px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid $dark;
    }
  }

  &-left {
    &::before {
      top: 50%;
      left: auto;
      right: calc(100% + 16px);
      transform: translateY(-50%);
    }
    &::after {
      top: 50%;
      left: auto;
      right: calc(100% + 4px);
      transform: translateY(-50%);
      border-top: 6px solid transparent;
      border-left: 6px solid $dark;
    }
  }
  &-right {
    &::before {
      top: 50%;
      right: auto;
      left: calc(100% + 16px);
      transform: translateY(-50%);
    }
    &::after {
      top: 50%;
      right: auto;
      left: calc(100% + 4px);
      transform: translateY(-50%);
      border-top: 6px solid transparent;
      border-right: 6px solid $dark;
    }
  }
}
